@media (max-width: 376px){
    .container{
        background-image: url(images/bg-mobile.svg);
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        grid-template-areas:
        'header'
        'illustration'
        'texts'
        'icons';
    }

    .header{
        padding-bottom: 40px;
    }

    .header-image{
        max-width: 35%;
        margin-left: 18px;
    }

    .illustration{
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }
    
    .image{
        max-width: 85%;
        
    }
    
    .big-text{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 21px;
        padding: 0px 25px;
        margin-bottom: 8px;
    }
    
    .text{
        padding: 0px 20px;
        text-align: center;
        margin-bottom: 18px;
        font-size: 15px;
    }
    
    .button{
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-bottom: 36px;
    }

    .button-style{
        font-size: 12px;
        padding: 10px 65px;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons .facebook-icon{
        padding: 6px 9px;
        font-size: 10px;

    }
    
    .icons .x-twitter-icon{
        padding: 6px 7px;
        font-size: 10px;

    }
    
    .icons .instagram-icon{
        padding: 5px 7px;
        font-size: 10px;
    }
}